///
.x-about {
    position: relative;
    padding: 150px 0;

    &-title {
        position: relative;

        &-body {
            width: 700px;

            @include query(700px) {
                max-width: 100%;
            }

            @include query(492px) {
                text-align: center;
            }

            & > h1 {
                max-width: 500px;
                overflow: hidden;

                @include query(492px) {
                    font-size: 5rem;
                }

                & > span {
                    opacity: 0;
                    transform: translateY(150px);
                }
            }

            & > p {
                margin-top: 20px;
                word-wrap: none;
                word-break: keep-all;
                font-size: 1.2rem;
                line-height: 31px;
            }
        }
    }
}

.x-hero-header-menu {
    @include query(492px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
