///
.x-about {
    position: relative;
    padding: 150px 0;

    &-title {
        position: relative;

        &-body {
            width: 700px;

            & > h1 {
                max-width: 500px;
                overflow: hidden;
            }

            & > p {
                margin-top: 20px;
                word-wrap: none;
                word-break: keep-all;
                font-size: 1.2rem;
                line-height: 31px;
            }
        }
    }
}
