.x-loading {
    color: black;

    &-indicators {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        z-index: 999;
        pointer-events: none;

        @include make-div-fullscreen(fixed);

        &-indicator {
            flex: 1;
            margin: 0 -20px;
            height: 100%;
            transform: scaleY(1);
            background: white;
        }
    }

    &-texts {
        color: black;
        z-index: 999;
        height: 47px;
        overflow: hidden;

        @include self-center(fixed);

        & > p {
            opacity: 0;
            transform: translateY(100px);
            font-size: 1.7rem;
        }

        & > span {
            opacity: 0;
            transform: translateY(100px);
            display: inline-block;
            color: rgb(137, 137, 137);
            font-size: 0.9rem;
            text-align: center;
        }
    }
}
