.x-skills {
    margin-top: 300px;
    margin-bottom: 300px;
    position: relative;
    width: 100%;
    flex-direction: column;

    @include child-center;

    &-title-wrapper {
        text-align: center;
        width: 100%;
        overflow: hidden;
        height: 111px;

        @include query(852px) {
            height: auto;
        }

        & > span {
            opacity: 0;
            transform: translateY(150px);
        }
    }

    & > p {
        color: rgb(138, 138, 138);
        font-size: 1.8rem;
        display: flex;

        @include query(736px) {
            flex-direction: column;
        }

        & > span {
            color: white;
            font-weight: 300;
            padding-bottom: 10px;
            border-bottom: 1px solid white;
        }
    }

    &-xp {
        margin-top: 100px;
        width: 500px;
        display: flex;
        justify-content: flex-start;

        @include query(528px) {
            max-width: 100%;
        }

        @include query(384px) {
            flex-direction: column;
        }

        & > .x-xp {
            display: flex;
            align-items: center;
            padding: 30px;

            & > h1 {
                font-size: 3rem;
                color: var(--primary-color);
            }

            & > span {
                margin-left: 7px;
                font-size: 0.9rem;
            }
        }
    }
}
