/* defining default styles for HTML elements */

html {
    box-sizing: border-box;
    font-size: var(--font-size);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    background: black;
    color: white;
    font-family: var(--font-family);
}
