/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 99px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555555;
}
